<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woof.mapper.AccountMapper">
	<!-- 내정보 -->
	<select id="getAccount" resultType="Account">
		SELECT * FROM account WHERE username = #{username}
	</select>
	<!-- Account들의 모든정보 리스트 -->
	<select id="getAccountList" resultType="Account">
		SELECT * FROM account ORDER BY regDate DESC
	</select>
	<!-- 계정 등록 -->
	<insert id="registerAccount">
		INSERT INTO account VALUES (#{username}, #{password}, #{name}, #{tel}, #{address}, 'active', SYSDATE)
	</insert>
	<!-- 정보 수정 -->
	<update id="modifyAccount">
		UPDATE account SET username = #{username}, password=#{password}, name=#{name},
		tel=#{tel}, address=#{address}
		WHERE username=#{previousUsername}
	</update>
	<!-- 계정 탈퇴 -->
	<update id="deleteAccount">
		UPDATE account SET state='deactivated' WHERE username = #{username}
	</update>
	<!-- admin이 개인계정을 찾기 -->
	<select id="searcheAccount" resultType="Account">
		SELECT * FROM account WHERE username LIKE '%' || #{searchKeyword} || '%'
	</select>
</mapper>