<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woof.mapper.CartMapper">
	<insert id="addToCart" parameterType="map">
		INSERT INTO cart (cartNo, username, itemNo, itemQuantity, itemName, itemPrice, itemMainPic, checkStatus) 
		VALUES (cartNo_seq.nextVal, #{username}, #{item.itemNo}, #{itemQuantity}, #{item.itemName}, #{item.itemPrice}, #{item.itemMainPic}, 'checked')
	</insert>
	<select id="getCart" resultType="Cart">
		SELECT * FROM cart WHERE username = #{username} ORDER BY cartNo DESC
	</select>
	<select id="getOrder" resultType="Cart" parameterType="java.util.List">
		 SELECT * FROM cart WHERE username=#{username} AND itemNo IN
    		<foreach item="item" collection="selectedItems" open="(" separator="," close=")">
        		#{item}
    		</foreach>
    		ORDER BY cartNo DESC
	</select>
	<!-- NOT USED
	<update id="changeCheckStatus">
		UPDATE cart SET checkStatus = CASE WHEN checkStatus='checked' THEN 'unchecked' ELSE 'checked' END 
		WHERE username=#{username} AND itemNo=#{itemNo}
	</update>
	-->
	<delete id="removeFromCart">
		DELETE FROM cart WHERE username=#{username} AND itemNo=#{itemNo}
	</delete>
	<delete id="removeChecked">
		DELETE FROM cart WHERE username = #{username} AND itemNo IN
			<foreach item="item" collection="selectedItems" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
	<update id="modifyQuantity">
		UPDATE cart SET itemQuantity=#{newQuantity} WHERE username=#{username} AND itemNo=#{itemNo}
	</update>
</mapper>