<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woof.mapper.CartMapper">
	<insert id="addToCart">
		INSERT INTO cart (cartNo, username, itemNo, quantity, itemName, price, itemMainPic, checkStatus) 
		VALUES (cartNo_seq.nextVal, #{username}, #{itemNo}, #{quantity}, #{itemName}, #{price}, #{itemMainPic}, 'checked')
	</insert>
	<select id="getCart" resultType="Cart">
		<!-- SELECT * FROM cart WHERE username=#{username} ORDER BY cartNo DESC -->
		SELECT * FROM cart
	</select>
	<select id="getOrder" resultType="Cart">
		SELECT * FROM cart WHERE username=#{username} AND status='checked' ORDER BY cartNo DESC
	</select>
	<update id="changeCheckStatus">
		UPDATE cart SET status = CASE WHEN status='checked' THEN 'unchecked' ELSE 'checked' END 
		WHERE username=#{username} AND itemNo=#{itemNo}
	</update>
	<delete id="removeFromCart">
		DELETE FROM cart WHERE username=#{username} AND itemNo=#{itemNo}
	</delete>
	<delete id="removeChecked">
		DELETE FROM cart WHERE username=#{username} AND status='checked'
	</delete>
	<update id="modifyQuantity">
		UPDATE cart SET quantity=#{newQuantity} WHERE username=#{username} AND itemNo=#{itemNo}
	</update>
</mapper>