<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woof.mapper.OrderHistoryMapper">
	<select id="getOrderHistory" resultType="OrderHistory">
		SELECT * FROM orderHistory WHERE orderHistoryNO = #{orderHistoryNo}
	</select>
	<select id="getOrderHistoryList" resultType="OrderHistory">
		SELECT * FROM orderHistory WHERE username=#{username} ORDER BY orderDate DESC
	</select>
	<insert id="addToOrderHistory">
        INSERT INTO orderHistory (orderHistoryNo, username, totalPrice, address, orderDate)
        VALUES (orderHistoryNo_seq.nextVal, #{username}, #{totalPrice}, #{address}, SYSDATE)
	</insert>
	<select id="getOrderHistoryNo" resultType="int">	
        SELECT MAX(orderHistoryNo) FROM orderHistory
	</select>
</mapper>