<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woof.mapper.ReplyMapper">

	<insert id="insertReply">
		INSERT INTO reply(replyNo,username,reply)
		VALUES(replyNo_seq.NEXTVAL,#{username},#{reply})
	</insert>

	<select id="countReplyList">
		SELECT count(replyNo)
		FROM reply
	</select>

	<select id="getReplyList" resultType="Reply">
		SELECT *
		FROM
		(SELECT ROWNUM AS rnum, replyNo, username, petNo, reviewNo,
		reply, replyRegDate, replyModDate, itemNo
		FROM (SELECT * FROM reply ORDER BY replyNo DESC)
		ORDER BY replyNo ASC)
		WHERE rnum BETWEEN #{sizePerPage}*#{page}-9 and
		#{sizePerPage}*#{page} ORDER BY replyNo DESC
	</select>

</mapper>