<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woof.mapper.ReplyMapper">

	<insert id="insertReply">
		INSERT INTO reply(replyNo,username,reply,reviewNo)
		VALUES(replyNo_seq.NEXTVAL,#{username},#{reply},#{reviewNo})
	</insert>

	<select id="countReplyList">
		SELECT count(replyNo) 
		FROM reply
		WHERE reviewNo=#{reviewNo}
	</select>

	<select id="getReplyList" resultType="Reply">
		SELECT *
		FROM
		(SELECT ROWNUM AS rnum, replyNo, username, petNo, reviewNo,
		reply, replyRegDate, replyModDate
		FROM (SELECT * FROM reply WHERE reviewNo=#{reviewNo} ORDER BY replyNo DESC))
		WHERE rnum BETWEEN #{sizePerPage}*#{page}-9 and
		#{sizePerPage}*#{page}
	</select>
	
	<delete id="deleteReply">
		DELETE 
		FROM reply 
		WHERE replyNo=#{replyNo}
	</delete>

</mapper>