<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woof.mapper.ReviewMapper">

	<select id="getReview" resultType="com.woof.domain.Review">
		SELECT * FROM review WHERE
		reviewNO =
		#{reviewNo}
	</select>

	 <!-- <select id="getReviewList" resultType="com.woof.domain.Review">
		SELECT * FROM review ORDER
		BY
		reviewNo
	</select>  -->
	
	<select id="getReviewList" resultType="com.woof.domain.Review">
		SELECT * 
		FROM
			(SELECT  ROWNUM AS rnum, reviewNo, reviewTitle, reviewDesc, reviewRegDate , reviewModDate 
			FROM (select * from review WHERE reviewTitle LIKE '%'||#{keywordTitle}||'%' AND reviewDesc LIKE '%'||#{keywordDesc}||'%' AND itemNo=0 order by reviewNo desc))
		WHERE rnum BETWEEN #{sizePerPage}*#{page}-#{sizePerPage}+1 and #{sizePerPage}*#{page}
	</select>
	
	<select id="countReviewList" resultType="int">
		SELECT count(reviewNo)
		FROM review
		WHERE reviewTitle LIKE '%'||#{keywordTitle}||'%'
		AND reviewDesc LIKE '%'||#{keywordDesc}||'%' AND itemNo=0
	</select>
	
	<select id="countItemReviewList" resultType="int">
		SELECT count(reviewNo) 
		FROM review
		WHERE itemNo=#{itemNo}
	</select>
	
	<select id="getItemReviewList" resultType="com.woof.domain.Review">
		SELECT * 
		FROM
			(SELECT  ROWNUM AS rnum,username, reviewNo, reviewTitle, reviewDesc, reviewRegDate , reviewModDate 
			FROM (select * from review WHERE itemNo=#{itemNo} order by reviewNo desc) 
			ORDER BY reviewNo asc)
		WHERE rnum BETWEEN #{sizePerPage}*#{page}-9 and #{sizePerPage}*#{page}  ORDER BY reviewNo DESC
	</select>

	<insert id="insertPetReview">
		INSERT INTO review
		(reviewNo,username,reviewTitle,reviewDesc,reviewPic,itemNo,itemName)
		VALUES
		(reviewNo_seq.nextVal,
		#{username},#{reviewTitle},#{reviewDesc},#{reviewPic},#{itemNo},#{itemName})
	</insert>

	<update id="modifyReview">
		UPDATE review SET
		reviewTitle=#{reviewTitle},reviewDesc=#{reviewDesc},reviewModDate=SYSDATE,reviewPic=#{reviewPic}
		WHERE reviewNo = #{reviewNo}
	</update>
	
	<delete id="deleteReview">
		DELETE FROM review WHERE reviewNo=#{reviewNo}
	</delete>
	
	<select id="getReviewPic" resultType="String">
		SELECT reviewPic FROM
		review WHERE reviewNo = #{reviewNo}
	</select>
	
	<select id="getMainReviewList" resultType="Review">
		<![CDATA[
		SELECT * FROM(SELECT * FROM review WHERE itemno=0 ORDER BY reviewno DESC) WHERE ROWNUM <= 4
		]]>
	</select>
</mapper>