<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woof.mapper.ServiceMapper">

	<insert id="insertService">
	insert into service (serviceNo, userName, itemNo, petNo, serviceDesc)
		values(serviceno_seq.nextval, #{username}, #{itemNo} ,#{petNo} , #{serviceDesc})
	</insert>
	
	<update id="responseService">
	update service set response=#{response}, responseregdate=sysdate where serviceno=#{serviceNo}
	</update>
	
	<update id="modifyService">
	
	</update>
	
	<update id="addServiceViewCount">
	
	</update>
	
	<delete id="deleteService">
	
	</delete>
	
	<select id="getService">
	
	</select>
	
	<select id="countServiceList">
	SELECT count(serviceNo)
	FROM service 
	</select>
	
	<select id="getServiceList"   resultType="Service">
	<!-- SELECT *
	FROM service
	ORDER BY regdate DESC -->
	SELECT * 
		FROM
			(SELECT  ROWNUM AS rnum, serviceNo, username, itemNo, petNo, serviceDesc, response, regDate,responseRegDate
			FROM (select * from service WHERE serviceDesc LIKE '%'||#{keyword}||'%' order by serviceNo desc) 
			ORDER BY serviceNo asc)
		WHERE rnum BETWEEN #{sizePerPage}*#{page}-9 and #{sizePerPage}*#{page}  ORDER BY serviceNo DESC
	</select>
	
	

</mapper>